html, body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-10deg, #ee7752, #1b7a9b, #0b445b, #23d5ab);
    background-size: 350% 350%;
    animation: gradient 25s ease infinite;
}

#title{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin-bottom: 1.4rem;
    color: #ced0ce;
    font-family: Arial;
}

h4{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin-bottom: 1.4rem;
}

p3 {
    font-family: "Comic Sans MS", serif;
    text-align: center;
    color: black;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.4rem;
    font-weight: bold;
}

label{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
}

button {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    line-height: 50px;
    font-size: 15px;
    color: #ffffff;
    background-color: #007c89;
    padding: 0 30px;
    margin: 40px;
}
button:hover {
    color: #ffffff;
    background-color: #006570;
}

form{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    background-color: #e0e0e0;
    border-style: dashed;
    width: auto;
}

p2 {
    position: center;
    color: black;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

p{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ced0ce;
}

footer {
    align-items: center;
    background-color: transparent;
    bottom: 0;
    color: #ffffff;
    display: flex;
    font-size: 17px;
    font-family: "Comic Sans MS";
    height: 70px;
    justify-content: center;
    font-style: italic;
    position: static;
    width: 100%;
    z-index: 1;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input:checked {
    border: 6px solid black;
}

button,
legend {
    color: white;
    font-weight: bold;
    background-color: #10a8b6;
    padding: 5px 20px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
}

button:hover,
button:focus {
    color: #ffffff;
}

button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: transparent;
}