html, body {
    width: 99%;
    height: 107%;
    overflow: hidden;
}

body {
    background: linear-gradient(-10deg, #ee7752, #1b7a9b, #0b445b, #23d5ab);
    background-size: 350% 350%;
    animation: gradient 25s ease infinite;
}


h4{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin-bottom: 1.4rem;
}

label{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
}

button {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 34px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007c89;
    padding: 0 15px;
    margin: 25px;
}
button:hover {
    color: #ffffff;
    background-color: #006570;
}

form{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15.5rem;
    padding-right: 15.5rem;
    background-color: #e0e0e0;
    border-style: dashed;
}
