<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umfrage</title>
</head>
<body>
<form th:action="@{/next}" th:object="${setFrage}"  method="Post">
    <h4 th:text="${setFrage.question}"></h4>
    <input th:field="*{id}" hidden/>
    <label>
        <input type="radio" th:field="*{answer}" th:checked="${setFrage.id}" value="1" name="radAnswer">
        Yes
        <input type="radio" th:field="*{answer}" th:checked="${setFrage.id}" value="0" name="radAnswer">
        No
    </label>
    <button type="submit">Next</button>
</form>
</body>
</html>